<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>

    <div>
        <p>
            <label th:for="role">Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${roles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
    </div>


<!--    <div class="mb-3">-->
<!--        <label><b>Roles</b></label>-->
<!--        <select class="form-select"-->
<!--                aria-label="Default select example"-->
<!--                th:field="*{roles}" required>-->
<!--            <option th:each="role : ${roles}"-->
<!--                    th:value="${role.getId()}"-->
<!--                    th:switch="${role.getName()}">-->
<!--                <span th:case="'ROLE_ADMIN'">ADMIN</span>-->
<!--                <span th:case="'ROLE_USER'">USER</span>-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div>-->
<!--        <label>Enter role-->
<!--            <th:block th:each="role: ${roles}">-->
<!--                <input type="checkbox" th:field="*{roles}"-->
<!--                       th:text="${role.getName()}" th:value="${role.getId()}" class="m-2"/>-->
<!--            </th:block>-->
<!--        </label>-->
<!--    </div>-->

<!--    <div th:each="role : ${roles}">-->
<!--        <label>-->
<!--            <input type="checkbox" th:name="role" th:value="${role.getName()}" th:id="${role.getName()}" />-->
<!--        </label>-->
<!--        <label th:for="${role.getName()}" th:text="${role.getName()}"></label>-->
<!--        <br />-->
<!--    </div>-->
<!--    <div class="d-grid gap-2">-->
<!--        <button class="btn btn-success" type="submit">Registration-->
<!--        </button>-->
<!--    </div>-->

    <br>
    <input type="submit" value="Add User">
    <br>
</form>
<br>

<a th:href="@{/admin}">Return to users table</a>
</body>
</html>